<div class="container">
	<div class="row">
		<div class="col">
			<h1>Das Team</h1>
			<p>Wir sind eine Gruppe von Mitgliedern des Microsoft Student
				Partner Programms aus Würzburg.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="card">
				<img class="card-img-top" style="" src="..." alt="Max Profilbild">
				<div class="card-body">
					<h4 class="card-title">Maximilian Schirm</h4>
					<p class="card-text">Kurzbeschreibung Max</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" style="" src="..." alt="Domi Profilbild">
				<div class="card-body">
					<h4 class="card-title">Dominik Otto</h4>
					<p class="card-text">Kurzbeschreibung Domi</p>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" style="" src="..."
					alt="Karsten Profilbild">
				<div class="card-body">
					<h4 class="card-title">Karsten Schaefers</h4>
					<p class="card-text">Kurzbeschreibung Karsten</p>
				</div>
			</div>
		</div>

	</div>
</div>