<div class="pos-f-t">
	<nav class="navbar navbar-dark fixed-top justify-content-between"
		style="background-color: #000; height: 55px;">
		<button class="navbar-toggler navbar-brand" type="button"
			(click)="toggleSidenav.emit()">
			<i class="fa fa-bars fa-lg" style="color: #b4009e; cursor: default;"></i>
		</button>
		<strong style="color: #b4009e">MSP Team Würzburg</strong>
			<a href="https://www.facebook.com/mspwue/" target="blank"
				class="social-icon"> <i class="fa fa-facebook"></i></a>
	</nav>
</div>